body {
    margin: 60px auto;
    width: 70%;
}

h1 {
    font-size: 3em;
    font-family:'Georga';
}

p {
    font-size: 1.5em;
    line-height: 1.2em;
    color: #333;
}

nav ul {
    font-family:'Georga';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #0c0c0c;
}

a:hover {
    color: #5f9ea0;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

nav ul list {
    display: table;
    margin: 0 auto;
}

ul.posts list {
    list-style: disc;
}
