body {
    margin: 100px auto;
    width: 70%;
    font-size: 120%;
    line-height: 120%;
    color: #333;
    font-family:'Georgia';
    max-width: 60ch;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
    line-height: 1.2em;
}

a {
    text-decoration: none;
    color: #0c0c0c;
}

a:hover {
    color: #6495ed;
}

nav ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

ul.posts {
    margin: 20px auto 40px;
}

ul.posts li {
    list-style: none;
}

nav ul list {
    display: list-item;
    margin-left: 150px auto;
}

ul.posts list {
    list-style: disc;
}
